doctype html
html(lang="ko")
    head
        //- title #{pageTitle} | Wetube
        title=pageTitle
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1=pageTitle
            a(href="/") 홈으로 가기
            br
            a(href="/videos/upload") 업로드하기
            br
            a(href="/search") Search

        main
            block content
    include footer.pug 