mixin funcName(arg)
    a(href=`/videos/${arg.id}`).video-mixin
        div.video-mixin__thumb
        div.video-mixin__data
            span.video-mixin__title=arg.title
            div.video-mixin__meta
                span #{arg.owner.name} • 
                span #{arg.meta.views} 회
